.all-container {
  display: flex;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.inner-container {
  border: 1px solid black;
  width: 35em;
  height: 25em;
  font-size: medium;
  font-weight: normal;
}
