.all-container {
  display: flex;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.inner-container {
  border: 1px solid black;
  width: 35em;
  height: 25em;
  font-size: medium;
  font-weight: normal;
}

.right-container {
  display: flex;
}

.right-container-2 {
  margin-left: 5px;
}

.scrollable-table {
  max-height: 700px; /* Set the maximum height for the scrollable area */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.position-size-form {
  width: 10vh;
}

.settings-button {
  width: 200px !important;
  height: 70px;
}

.start-bot-button {
  margin-top: 30px;
}
