.stack-1 {
  margin-top: 10px !important;
}

.row-1 {
  background: linear-gradient(45deg, #21d4fd, #ae00ff);
  height: 90vh;
}

.nav-button {
  width: 15vh;
  height: 6vh;
}

.title-text {
  font-size: 4vh !important;
  font-weight: bold !important;
}

.navbar-text {
  font-size: 15px !important;
  margin-left: 5vh;
}

.catchphrase {
  font-size: 11vh;
  font-weight: bold;
}

.row-2 {
  margin-top: 30px;
  margin-bottom: 500px;
}

.image-background {
  border: 1px aliceblue solid;
  border-radius: 10px;
  background-color: aliceblue;
}

.infobox-text {
  margin-left: 15px;
}
